*
.xml
*.log
*.db
test.py
.vscode/settings.json
*.json
*.old

# Exclude spam_dict.txt from being ignored
!spam_dict.txt
!p2spm.py
!parse_spam.py
!server/
!server/main.py
!server/api.py
!server/config.py
!server/database.py
!server/p2p.py
!server/p2spm.py
!server/websocket.py
!utils/
!utils/*
!utils/utils.py
